@model MvcApplication2.Checkinout

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Checkinout</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Logid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Logid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Userid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Userid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CheckTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CheckType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sensorid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sensorid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Checked)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Checked)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WorkType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AttFlag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AttFlag)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OpenDoorFlag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OpenDoorFlag)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
